<!DOCTYPE html>
<html ng-app="BlogApplication">

<head>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.6.2/angular-messages.min.js"></script>
  <script src="script.js"></script>
</head>

<body>
  <div ng-controller="AddTodoController">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <th>
          Add ToDo
        </th>        
      </thead>
      <tbody>
        <tr>
          <td>Title</td>
          <td><input type="text" id="txtTitle" /></td>
        </tr>
        <tr>
          <td>Completed</td>
          <td><input type="checkbox" id="txtCompleted" /></td>
        </tr>
        <tr>
          <td>
            <input type="button" value="Save" class="btn btn-success" ng-click="Save()" />
            <input type="button" value="Clear" class="btn btn-danger" ng-click="" />
          </td>          
        </tr>
      </tbody>
    </table>
  </div>  
</body>

</html>